<nav class="navbar-container">
  <div class="logo">
    <%= image_tag "logo.svg", class: "logo-img" %>
  </div>

  <div class="navbar">
    <%= link_to "Home", root_path, class: "link #{current_page?(root_path) ? 'link__active' : ''}" %>
    <%= link_to "About", about_path, class: "link #{current_page?(about_path) ? 'link__active' : ''}" %>
    <%= link_to "Work", root_path, class: "link" %>
    <%= link_to "Contact", root_path, class: "link" %>
    <%= link_to "Blogs", root_path, class: "link" %>
  </div>
</nav>