<div class="main-container">
  <section class="hero-section">
    <div class="heading">
      <span class="bracket">[</span>
      <h1 class="name text-center">JOHN REXPEARL TUMLOS</h1>
      <span class="bracket">]</span>
    </div>

    <span class="sub-heading">SOFTWARE ENGINEER</span>

    <div class="hero-detail">
      <%= image_tag "icons/location", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">Taguig, Philippines</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/linkedin", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">linkedin.com/in/jrptumlos</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/email", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">jrptumlos@gmail.com</span>
    </div>

    <div class="hero-detail mb-3">
      <%= image_tag "icons/github", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">github.com/rextumlos</span>
    </div>

    <p class="text-center">I excel in creating websites, specialized in backend, and proficient in various programming
      languages and
      technologies.</p>
  </section>

  <div class="line-break"></div>

  <section class="info-section">

    <div class="lg:w-1/2">
      <div class="information mb-3">
        <h2 class="mb-3">> TECHNICAL SKILLS</h2>

        <div class="flex flex-row">
          <div class="ml-5 mr-6">
            <div class="vertical-line"></div>
          </div>

          <div>
            <p class="font-bold">BACKEND DEVELOPMENT</p>
            <ul class="mb-1">
              <li>● Ruby on Rails</li>
              <li>● ExpressJS</li>
              <li>● Python Tornado</li>
              <li>● REST API</li>
            </ul>

            <p class="font-bold">FRONTEND DEVELOPMENT</p>
            <ul class="mb-1">
              <li>● React JS, ERB, Tailwind CSS, Bootstrap</li>
            </ul>

            <p class="font-bold">DATABASES</p>
            <ul class="mb-1">
              <li>● MySQL, PostgreSQL</li>
              <li>● MongoDB, Firebase Storage</li>
            </ul>

            <p class="font-bold">BASIC PROGRAMMING</p>
            <ul class="mb-1">
              <li>● Python, C, C++, C#</li>
            </ul>

            <p class="font-bold">TOOLS</p>
            <ul class="mb-1">
              <li>● Git, Postman, WordPress, Docker, Figma</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="information mb-3">
        <h2 class="mb-3">> EDUCATION</h2>

        <div class="flex flex-row">
          <div class="ml-5 mr-6">
            <div class="vertical-line"></div>
          </div>

          <div>
            <p class="font-bold">BACHELOR OF SCIENCE IN COMPUTER ENGINEERING</p>
            <p>Polytechnic University of the Philippines - Manila</p>
            <p class="italic">2019 - 2023</p>
          </div>
        </div>
      </div>

      <div class="information mb-3">
        <h2 class="mb-3">> ACHIEVEMENTS</h2>

        <div class="flex flex-row">
          <div class="ml-5 mr-6">
            <div class="vertical-line"></div>
          </div>

          <div>
            <p class="font-bold">PRESIDENT’S LISTER</p>
            <p class="italic mb-2">2023</p>

            <p class="font-bold">DOST SEI SCHOLAR 2019</p>
            <p class="italic">2019 - 2023</p>
          </div>
        </div>
      </div>

    </div>


    <div class="lg:w-1/2">
      <div class="information mb-3">
        <h2 class="mb-3">> EXPERIENCE</h2>

        <div class="flex flex-row">
          <div class="ml-5 mr-6">
            <div class="vertical-line"></div>
          </div>

          <div>
            <p class="font-bold">SOFTWARE ENGINEER (ON-SITE)</p>
            <p>Secure Smarter Services Inc</p>
            <p class="italic mb-1">September 2023 - Present</p>
            <ul>
              <li class="mb-1">● Develop and maintain robust, scalable web applications using Ruby on Rails and Python,
                ensuring high
                performance and seamless user experience.
              </li>
              <li class="mb-1">● Integrated third-party platforms including payment gateways and gaming services,
                enhancing system
                interoperability and client satisfaction.
              </li>
              <li class="mb-1">● Collaborated with clients to analyze requirements, delivering custom web service
                solutions aligned
                with business goals and technical specifications.
              </li>
              <li class="mb-1">● Created tailored business solutions for APIs, optimizing data flow and communication
                between external
                systems and internal services to meet operational demands and client objectives.
              </li>
              <li class="mb-1">● Designed and implemented dynamic, responsive pages using WordPress, improving the user
                interface, SEO,
                and overall site functionality.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="line-break"></div>

  <section class="recent-blogs-section">
    <h2 class="mb-3">> RECENT BLOGS</h2>
    <p class="italic">Sorry, I don't have any blogs yet. Currently working on~ :>></p>
  </section>

  <div class="line-break"></div>

  <section class="contact-section">
    <h2 class="mb-3">> CONTACT ME</h2>

    <%= form_with class: '' do |form| %>
      <div class="relative z-0 w-full mb-5 group">
        <%= form.email_field :email, placeholder: " ", class:'block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :email, "Email Address", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <%= form.text_field :subject, placeholder: " ", class:'block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :subject, "Subject", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <%= form.text_area :message, placeholder: " ", class:'block py-2.5 px-0 w-full h-32 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :message, "Message", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

    <% end %>
  </section>


</div>
