<div class="main-container">
  <section class="hero-section">
    <div class="heading">
      <span class="bracket">[</span>
      <h1 class="name text-center">JOHN REXPEARL TUMLOS</h1>
      <span class="bracket">]</span>
    </div>

    <span class="sub-heading">SOFTWARE ENGINEER</span>

    <div class="hero-detail">
      <%= image_tag "icons/location", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">Taguig, Philippines</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/linkedin", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">linkedin.com/in/jrptumlos</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/email", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">jrptumlos@gmail.com</span>
    </div>

    <div class="hero-detail mb-3">
      <%= image_tag "icons/github", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">github.com/rextumlos</span>
    </div>

    <p class="text-center">I excel in creating websites, specialized in backend, and proficient in various programming
      languages and
      technologies.</p>
  </section>

  <div class="line-break"></div>

  <section class="info-section">

    <div class="lg:w-1/2">
      <%= render partial: "components/info", locals: { info: @technical_skills }  %>
      <%= render partial: "components/info", locals: { info: @educations }  %>
      <%= render partial: "components/info", locals: { info: @achievements }  %>
    </div>


    <div class="lg:w-1/2">
      <%= render partial: "components/info", locals: { info: @experiences }  %>
    </div>

  </section>

  <div class="line-break"></div>

  <section class="recent-blogs-section">
    <h2 class="mb-3">> RECENT BLOGS</h2>
    <p class="italic">Sorry, I don't have any blogs yet. Currently working on~ :>></p>
  </section>

  <div class="line-break"></div>

  <section class="contact-section">
    <h2 class="mb-3">> CONTACT ME</h2>

    <%= form_with class: '' do |form| %>
      <div class="relative z-0 w-full mb-5 group">
        <%= form.email_field :email, placeholder: " ", class:'block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :email, "Email Address", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <%= form.text_field :subject, placeholder: " ", class:'block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :subject, "Subject", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <%= form.text_area :message, placeholder: " ", class:'block py-2.5 px-0 w-full h-32 text-sm text-gray-900 bg-transparent border-0 border-b-2 border-primary-50 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer' %>
        <%= form.label :message, "Message", class:'peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6' %>
      </div>

      <%= form.submit "Submit", class: "primary-button" %>

    <% end %>
  </section>


</div>
