<div class="main-container">
  <section class="hero-section">
    <div class="heading">
      <span class="bracket">[</span>
      <h1 class="name text-center">JOHN REXPEARL TUMLOS</h1>
      <span class="bracket">]</span>
    </div>

    <span class="sub-heading">SOFTWARE ENGINEER</span>

    <div class="hero-detail">
      <%= image_tag "icons/location", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">Taguig, Philippines</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/linkedin", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">linkedin.com/in/jrptumlos</span>
    </div>

    <div class="hero-detail">
      <%= image_tag "icons/email", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">jrptumlos@gmail.com</span>
    </div>

    <div class="hero-detail mb-3">
      <%= image_tag "icons/github", class: 'mr-1 mb-1' %>
      <span class="text-sm lg:text-base">github.com/rextumlos</span>
    </div>

    <p class="text-center">I excel in creating websites, specialized in backend, and proficient in various programming
      languages and
      technologies.</p>
  </section>

  <div class="line-break"></div>

  <section class="tech-used">
    <h2 class="mb-3">> TECH USED</h2>

    <div class="flex flex-row justify-center flex-wrap gap-2">
      <% @techs.each do |tech| %>
        <div class="group flex flex-col items-center justify-center gap-1 bg-white hover:bg-primary border-2 border-primary p-3 rounded w-full h-full" style="max-width: 150px">
          <i class="<%= tech[:icon] %> text-primary group-hover:text-white text-5xl"></i>
          <span class="text-sm group-hover:text-white"><%= tech[:title] %></span>
        </div>
      <% end %>
    </div>

  </section>

  <div class="line-break"></div>

  <section class="recent-blogs-section">
    <h2 class="mb-3">> RECENT BLOGS</h2>
    <p class="italic">Sorry, I don't have any blogs yet. Currently working on~ :>></p>
  </section>

  <div class="line-break"></div>

  <%= render partial: "components/contact_me_form" %>

</div>
